u-boot
linux

# Copy-paste of untracked files after a build
images/vivid-console/.build/
images/vivid-console/binary.contents
images/vivid-console/binary.packages
images/vivid-console/binary/
images/vivid-console/build.log
images/vivid-console/cache/
images/vivid-console/chroot.headers
images/vivid-console/chroot.packages.install
images/vivid-console/chroot.packages.live
images/vivid-console/chroot/
images/vivid-console/config/
images/vivid-console/rootfs.tar.gz
images/vivid-lxde/.build/
images/vivid-lxde/binary.contents
images/vivid-lxde/binary.packages
images/vivid-lxde/binary/
images/vivid-lxde/build.log
images/vivid-lxde/cache/
images/vivid-lxde/chroot.headers
images/vivid-lxde/chroot.packages.install
images/vivid-lxde/chroot.packages.live
images/vivid-lxde/chroot/
images/vivid-lxde/config/
images/vivid-lxde/rootfs.tar.gz
linux-headers-3.17.8-custom_3.17.8-custom-1_armhf.deb
linux-image-3.17.8-custom_3.17.8-custom-1_armhf.deb
linux-libc-dev_3.17.8-custom-1_armhf.deb
machines/duovero/MLO
machines/duovero/u-boot.img
machines/overo/MLO
machines/overo/u-boot.img
qemu_vmlinux_20150930-144359_7196.core
vmlinux
